certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
commonmark==0.9.1
dnspython==2.2.1
email-validator==1.1.3
idna==3.3
lxml==4.8.0
multitasking==0.0.10
numpy==1.22.3
paho-mqtt==1.6.1
pandas==1.4.2
peewee==3.14.10
plotly==5.7.0
Pygments==2.11.2
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
rich==12.2.0
six==1.16.0
tenacity==8.0.1
typing-extensions==4.2.0
urllib3==1.26.9
webull==0.4.3
yfinance==0.1.70
